
body{
    background-image: url(/images/back0.jpg);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    padding-top: 50%;
    background-attachment: fixed;
}

.container{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    background-position-x: 50%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 0.7px rgba(0,0,0,0.7);
    width: 450px;
    height: 310px;
    text-align: center;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title{
    color: #00295f;
    font-size: 2.4rem;
    font-family: 'Bitter', serif;
    padding-top: 15px;
}

#btn{
        color: #fff;
        display: block;
        width: 180px;
        height: 40px;
        outline: none;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 6px;
        cursor: pointer;
        flex-wrap: nowrap;
        background:#00295f;
        border: 2px solid #00295f;
        margin: auto;
        transition: 0.3s ease-in-out;

}

#btn:hover{
    background-color: #fc3452;
    border: 2px solid #00295f;
    transition: 0.3s ease-in-out;
}

#result{
    color: #00295f;
    margin-top: 1rem;
    font-weight: 600;

}


.year-items input{
    padding-left: 15px;
} 

#year {
    height: 30px;
    width: 220px;
    margin: 15px 20px;
    border-radius: 8px;
    border: 2px solid #fc3452;
    outline: none;
    margin-bottom: 10px;
}


@media (max-width: 770px) {
    body{
        background-image: url(/images/back2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 50%;
        background-attachment: fixed;
        }

    .title{
    font-size: 2rem;
    align-items: center;
}


}

@media (max-width: 350px) {
    .container{
        position: absolute;
        width: 95vw;
        margin: 0 auto;
        height: 310px;
        text-align: center;
    }
    #year {
    height: 30px;
    width: 100v2;
    }

}